/* import Inter font-family */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* font-family styles start */
/* font-family: Inter  */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* font-family styles end */

body {
  background-color: #faf9f6;
  width: 100%;
  min-height: 100vh;
}
